@import url(https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600&family=Source+Serif+Pro:wght@300;400;600&display=swap);
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/** Variables **********************************************/
/* portfolio tinkering */
/* COLORS  */
/* footer */
/* navigation bar border */
/* Set theme color *************************/
/************************************************************/
/**
 * Basic styling
 */
body {
  font-family: 'Source Serif Pro', Georgia, serif;
  font-size: 17px;
  line-height: 1.7;
  font-weight: 400;
  color: #333333;
  background-color: #FFF;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 32.5px; }

.alignright {
  float: right; }

hr {
  /* Inset, by Dan Eden */
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 40px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #262626;
  text-decoration: none;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  a:hover {
    color: #6ab04c; /* ACCENT COLOR */
    text-decoration: none; }

article a {
  color: #6ab04c; /* ACCENT COLOR */ }
  article a:hover {
    color: #333333;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #333333;
  border-left: 10px solid #ddd;
  padding-left: 20px;
  font-size: 18px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border-radius: 3px;
  background-color: #ddd; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (40px * 2));
  max-width: calc(800px - (40px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (40px));
      max-width: calc(800px - (40px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:before, .wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Site header   **********************************************************
 */
.site-header {
  background-color: #EEE;
  opacity: 1;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 56px;
  width: 100%;
  z-index: 50; }

.site-title {
  float: left;
  font-size: 28px;
  line-height: 56px;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-bottom: 0; }
  .site-title:hover {
    text-decoration: none;
    color: #6ab04c; /* ACCENT COLOR */ }

.site-nav {
  float: right;
  font-family: 'Source Serif Pro', Georgia, serif;
  line-height: 56px; }
  .site-nav .page-link {
    line-height: 1.65; }
    .site-nav .page-link:not(:first-child) {
      margin-left: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: fixed;
      top: 0px;
      right: 10px;
      text-align: right; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: line; } }

.header-bar {
  left: 0px;
  top: 0px;
  position: relative;
  font-size: 20px;
  display: block;
  opacity: 0.75;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  line-height: 3em;
  z-index: 25; }
  .header-bar h1 {
    color: #6ab04c; /* ACCENT COLOR */
    font-size: 75px; }
  .header-bar h2 {
    font-size: 25px; }

/**
 * Site footer  **********************************************************
 */
.site-footer {
  border-top: 1px solid #333333;
  font-size: 10px;
  background-color: #333333;
  padding: 2px;
  color: #aaa;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 25px;
  width: 100%; }

/**
 * Pagination   **********************************************************
 */
.pagination {
  max-width: -webkit-calc(800px - (40px * 2));
  text-align: center;
  width: 100%;
  bottom: 50px; }

.paginationicon {
  font-size: 50px; }
  .paginationicon a {
    color: #6ab04c; /* ACCENT COLOR */ }

/**
 * "Continue reading" dots   **********************************************************
 */
.continue-button {
  display: block;
  height: 2em;
  width: 100%;
  margin-top: 1em;
  background: #FFF;
  line-height: 2em;
  color: #6ab04c; /* ACCENT COLOR */
  text-align: center; }

a.continue-button {
  text-decoration: none;
  vertical-align: middle; }

a.continue-button:hover {
  background: #f7f7f7;
  color: #333333; }

.archive-year {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  padding: 7px;
  text-align: left;
  color: #cccccc;
  font-size: 40px;
  font-weight: 300;
  padding-top: 1em;
  padding-bottom: 0.5em; }

/**
 * Page content   **********************************************************
 */
.page-content {
  padding: 100px 0;
  /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */ }

.page-heading {
  font-size: 20px; }

.post-list {
  margin: 0px 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 65px; }

.contacticon {
  font-size: 60px;
  display: block;
  margin: 10px; }

.center {
  text-align: center; }

.center-img {
  text-align: center;
  width: 100%; }

/**
 * Posts  **********************************************************
 */
.post-header {
  margin-bottom: 48.75px; }

.post-title {
  color: #6ab04c; /* ACCENT COLOR */
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 1.5; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 28px; } }
  .post-title a {
    color: #6ab04c; /* ACCENT COLOR */ }
  .post-title a:hover {
    text-decoration: none;
    color: #333333; }

.post-content h2 {
  font-size: 42px; }
  @media screen and (max-width: 800px) {
    .post-content h2 {
      font-size: 28px; } }
.post-content h3 {
  font-size: 30px; }
  @media screen and (max-width: 800px) {
    .post-content h3 {
      font-size: 22px; } }
.post-content h4 {
  font-size: 20px; }
  @media screen and (max-width: 800px) {
    .post-content h4 {
      font-size: 18px; } }

.post-meta {
  font-family: 'Source Serif Pro', Georgia, serif;
  font-size: 14px;
  color: #828282;
  margin-bottom: 10px; }

.post-link {
  display: block;
  font-size: 42px; }

.post-image {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; /* Spacing between images */
  /*text-align: center;*/
  /*Smaller, very subtle shadow*/
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  /* for larger shadows*/
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.post-image-link {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out; }

.post-image-link:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

/** Poem formatting ********************************************/
.poem-title {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .poem-title {
      font-size: 16px; } }

/** Responsive Gallery ********************************************/
.gallery-row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px; }

/* Create four equal columns that sits next to each other */
.gallery-column {
  -ms-flex: 50%;
  /* IE10 */
  flex: 33%;
  max-width: 50%;
  padding: 0 6px; }

.gallery-column img {
  margin-top: 12px;
  vertical-align: middle;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out; }

.gallery-column img:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: scale(1.005); }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gallery-column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%; } }
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%; } }
/**
 * Portfolio grid **********************************************************
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.project {
  width: 33.33%;
  height: 250px;
  float: left;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 10px; }

.thumbnail {
  width: 100%;
  height: 230px;
  overflow: hidden; }

.thumbnail img {
  width: 500px;
  height: auto;
  position: relative;
  left: -25%;
  top: -5%; }

.thumbnail a {
  float: left;
  position: relative;
  width: 100%;
  height: 230px; }

.thumbnail a span {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  color: #ddd;
  padding: 40px;
  text-align: center; }

.thumbnail a:hover span {
  display: block; }

/**
 * Portfolio pages **********************************************************
*/
.blankbox {
  background: #6ab04c; /* ACCENT COLOR */ }

.img_row {
  height: 275px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 5px; }

.col {
  width: 100%;
  height: 100%;
  float: left;
  object-fit: cover;
  box-sizing: border-box;
  padding: 5px; }

.right {
  float: right; }

.one {
  width: 33.33%; }

.two {
  width: 66.66%; }

.three {
  width: 100%; }

.caption {
  height: 100%;
  color: #aaa;
  text-align: center;
  vertical-align: middle;
  font-size: 12px; }
