---
layout: default
pagination:
  data: collections.posts
  size: 4
  alias: posts
permalink: "{{ pathPrefix }}{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}"
---


<div class="header-bar">
  <h1>see  pha </h1>
  <h2>whistle for level crossing</h2>
  <br/>
  <hr>
  <br/>
</div>

<ul class="post-list">
    {% for post in posts %}
      <li>
        <h2><a class="post-title" href="{{ post.url }}">{{ post.data.title }}</a></h2>
        <p class="post-meta">{{ post.data.date | postDate }}</p>
        <p>{{ post.templateContent | excerpt }}
        <a class="continue-button" href="{{ post.url }}">
        • • •
        </a>
        </p>
        <hr/>
      </li>
    {% endfor %}
</ul>


<div class="pagination">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="previous"><i class="fa fa-angle-double-left"></i> &nbsp; Newer</a>
  {% else %}
    <span class="previous"></span>
  {% endif %}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="next">Older &nbsp;<i class="fa fa-angle-double-right"></i></a>
  {% else %}
    <span class="next "></span>
  {% endif %}
</div>
