<header class="site-header">

  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <div class="trigger site-navigation">
        <!-- <a class="page-link" href="/">home</a> -->

        {% for sitePage in collections.all %}
        {% if sitePage.data.include_in_header == true %}
          <a class="page-link" href="{{ sitePage.url }}">{{ sitePage.data.icon }} &nbsp; {{ sitePage.data.title }}</a>
        {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>
</header>
